project_name      = "aws-ha-webapp"
region           = "us-east-1"
key_pair_name    = "mi-keypair"
db_username      = "admin"
db_password      = "MySecurePassword123!"
instance_type    = "t3.micro"
db_instance_class = "db.t3.micro"
s3_bucket        = "aws-ha-webapp-docker-1234567890"
docker_image_name = "aws-ha-webapp.tar.gz"