# Terraform configuration files with sensitive data
*/terraform.tfvars
*/terraform.tfvars.backup
*/*.tfvars

# Terraform state files (contienen información sensible)
*/terraform.tfstate
*/terraform.tfstate.*
*/.terraform.tfstate.lock.info

# Terraform directories
*/.terraform/
*/.terraform.lock.hcl

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# ============================================================================
# ARCHIVOS DE BUILD Y DESPLIEGUE
# ============================================================================

# Lambda deployment package
*/src/*.zip


# Ignorar node_modules en cualquier parte
*/node_modules/

# Ignorar archivos de SAM
*/.aws-sam/

# Ignorar por carpeta específica
CRUD_Lambda-Dynamo-Apigateway/dist/